.connexion-form{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.connexion-inputs{
border: 1px solid black;
border-radius: 4px;
padding: 20px;
box-shadow: -3px 4px 6px 2px rgb(194 194 194);
}

.mdp{
  font-size: 10px;
  cursor: pointer;
}

.mdp:hover{
  color: #000091;
}