name: Cron - Stop demo environments according to team schedule
# every day around 7pm UTC (8pm GMT)

on:
  workflow_dispatch:
#  schedule:
#    #Monday through Friday around 19:00 UTC (not using exact hours helps with runners availability)
#    - cron: '58 18 * * 1,2,3,4,5'

env:
  app-name: 'oklm'

jobs:
  enumerate-feature-branches:
    uses: ./.github/workflows/_enumerate-feature-branches.reusable.yml

  stop-target-applications:
    needs:
      - enumerate-feature-branches
    runs-on: ubuntu-latest
    container:
      image: clevercloud/clever-tools
      env:
        CLEVER_TOKEN: ${{ secrets.CLEVER_TOKEN }}
        CLEVER_SECRET: ${{ secrets.CLEVER_SECRET }}
    strategy:
      matrix:
        value: ${{ fromJSON(needs.enumerate-feature-branches.outputs.targets-branches) }}
    steps:
      - name: Link and stop a clevercloud application
        continue-on-error: true
        run: |
          clever link ${{ format('{0}-{1}', env.app-name, matrix.value) }} --org ${{ secrets.CLEVER_ORG_ID }}
          clever stop
